<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modals issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modals issue</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="example()">Open example modal</ion-button>
    <ion-button (click)="exampleXXL()">Open example modal (XXL)</ion-button>
  </div>
</ion-content>
